label{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.input-container {
    display: block;
    margin-top: 40px;
}
input[type=text],[type=email],[type=password] {
    width: 100%;
    padding: 15px 20px;  
    margin: 8px 0;
    font-size: 15px;   
    box-sizing: border-box;
    display: block;
    border-radius: 5px;  
    border: 1px solid #ccc;
    color:black;
}
input:focus {
    outline: 2px solid rgb(111 73 237);
    color: rgb(111 73 237);
    font-weight: 600;         
}
::placeholder {
    color: #ccc;
}
.showHidePassword {
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    opacity: 0.3;
    position: relative;
    top: -45px;
    float: right;
    right: 9px;
}